body{
    background-color: lightseagreen;
}

main>div {
    /*border: 2px solid rgb(233, 171, 88);*/
    background-color: whitesmoke;
    padding: 1em;
    /*border-color: white;*/
}

.body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80% auto auto;

}

.moreaction{
    background: transparent;
    border: 0;
}
header{

    background: transparent;
    background-color: lightseagreen;
    border: 0;
    border-collapse: collapse;
    height: 50px;
    padding: 0;
    margin: 0;
}
header > h1{
    background: transparent;
    background-color: lightseagreen;
}
footer{
    margin-top: 0;
    text-align: center;
    background-color: lightgray;
    border-collapse: collapse;
}
select{
    width: 150px;
    font-size: small;
    text-align: center;
}
.title{
    color: white;
}
.underline{
    text-decoration: underline;
}
.button{
    height: 25px;
    font-size: small;
    margin-bottom: 10px;
    background: lightseagreen;
    color: white;
    /*border: 0;*/
}
.column1 >div{
    height: 23px;
}
.column2 >div{
    height: 23px;
}
.column3 .c3{
    height: 23px;
}

.checkbox{
    height: 66px;
}
.column4 .c4{
    height: 23px;
}
.marker{
    color: red;
    font-size: x-small;
}
.dot{
    visibility: hidden;
}
